#Â Import the necessary libraries: pandas & requests

In [144]:
import pandas as pd
import requests
import json
import os
from pandas import json_normalize
from datetime import datetime

#Â Go on to this website: `https://kinduff.github.io/dog-api/`. Read the docs.

## Build the `url_for_request`. This will be the result of: reading the docs ðŸ™ƒ.

Hint: there's a `base_url` to which you need to add another `endpoint`. Call the resulting string `url_for_request`

In [145]:
url = "http://dog-api.kinduff.com"
url = url + "/api/facts"
url

'http://dog-api.kinduff.com/api/facts'

# Do one request using the `url_for_request`. Make sure it's read as a json.

In [153]:
res = requests.get(url).json()
res

{'facts': ['The oldest known breed is likely the Saluki, originally trained by Egyptians to help them track game.'],
 'success': True}

# Great! Now: encapsulate

- Create a function whith the name: `request_dog_facts`
- It should not take any argument
- It should return one dictionary with the information requested

In [164]:
def request_dog_facts():
    url = 'http://dog-api.kinduff.com/api/facts'
    res = requests.get(url).json()
    return res
request_dog_facts()

{'facts': ['Many foot disorders in dogs are caused by long toenails.'],
 'success': True}

#Â APIs may be faulty when requesting many times: make sure you implement a try & except to cover for that.

If the request doesn't work, make sure you return a message

In [166]:
def request_dog_facts():
    try:  
        url = 'http://dog-api.kinduff.com/api/facts'
        return requests.get(url).json()
    except Error:
        print ("too many resquests, exceeding what the API allows")
    
request_dog_facts()

{'facts': ['When "Bobbie," a Collie/Shepherd mix, was accidentally abandoned on a family vacation, he traveled 2,551 miles over six months to return to his home.'],
 'success': True}

# We now want to get as the day of the month today: eg.: if current month is october we'll make 10  requests

Create a variable called `current_month`. Using the imported library in the first cell, save today's day.

In [167]:
current_month = datetime.today().month
current_month
requests_as_mont_number=[request_dog_facts() for i in range(current_month)]
len(requests_as_mont_number)

10

#Â If `todays_date` is 27, create a list with 27 dictionaries reusing the function you just created: `request_dog_facts`. List should be called: `dogs_facts`. Do this using a comprehension list

In [168]:
dog_facts=[request_dog_facts() for i in range(datetime.today().day)]
len(dog_facts)

27

#Â Build a DF. You have a list of dictionaries, should be easy!

In [169]:
#Â Your code here
df = pd.DataFrame(dog_facts)
df

                                                facts  success
0   [Some stray Russian dogs have figured out how ...     True
1              [Dogs can learn more than 1000 words.]     True
2             [The Basenji is the only barkless dog.]     True
3        [The St. Bernard is the heaviest dog breed.]     True
4   [When Lord Byron was informed that his dog was...     True
5   [It is not possible to know how many puppies a...     True
6   [Dogs don't enjoy being hugged as much as huma...     True
7   [Chow Chows are born with pink tongues, which ...     True
8   [There are nearly 14,000 animal shelters and r...     True
9   [A German Shepherd named Orient accompanied he...     True
10  [One survey reports that 33% of dog owners adm...     True
11  [About one-third of a dogâ€™s brain is dedicated...     True
12  [There are nearly 14,000 animal shelters and r...     True
13  [Service dogs are recognized in the U.S. as "n...     True
14  [In 1969, Lassie was the first animal inducted...     True
15  [Americans love dogs! 44% of U.S. households h...     True
16  [A dog's average body temperature is 101.2 deg...     True
17  [Fifteen people die in the U.S. every year fro...     True
18  [As Disney's Cruella De Vil was aware, Dalmati...     True
19  [One of the most famous Labrador Retrievers wa...     True
20  [Puppies love games such as hide and seek! Hid...     True
21  [In Croatia, scientists discovered that lamppo...     True
22  [Bloodhounds are prized for their ability to s...     True
23  [Some stray Russian dogs have figured out how ...     True
24  [Dogs judge objects first by their movement, t...     True
25                   [Dogs are natural pack animals.]     True
26  [The oldest dog on record was an Australian ca...     True

# Modify the previous table, using a lambda function, so you modify the column data to have the same column but with the element instead of the list with that one element

In [175]:
#Â Your code here
df['facts'] = df['facts'].apply(lambda x: "".join(x))
df

                                               facts  success
0  Dog nose prints are as unique as human finger ...     True
1  When dogs were evolving, bone marrow could som...     True
2  With love and a little patience, dogs can lear...     True
3  Ancient Egyptians revered their dogs. When a p...     True
4  Itâ€™s not so black and white. Itâ€™s a myth that ...     True
5  An African wolf dog known as the Basenji is th...     True
6  Hyenas aren't actually dogs. They are more clo...     True
7  Endal was the first dog to ride on the London ...     True
8  A bloodhound named Tigger holds the record for...     True
9  Bloodhounds are prized for their ability to si...     True

#Â Save the dataframe into the data folder.

Make sure you don't get that unnamed: 0 column. Hint: https://stackoverflow.com/questions/36519086/how-to-get-rid-of-unnamed-0-column-in-a-pandas-dataframe-read-in-from-csv-fil

In [177]:
data_folder_path = '../data/'
csv_filename = 'fact_dogs.csv'
full_path = data_folder_path + csv_filename
df.to_csv(full_path, index=False)